/*fonts*/
@font-face {
  font-family: 'Gill Sans Std semi Bold';
  src: url(fonts/GillSans-SemiBold.eot);
  src: url(fonts/GillSansStd-Bold.eot?#iefix) format('embedded-opentype'), url(/fonts/GillSans-SemiBold.woff2) format('woff2'), url(fonts/GillSans-SemiBold.woff) format('woff'), url(/fonts/GillSans-SemiBold.ttf) format('truetype'), url(fonts/GillSans-SemiBold.svg#GillSans-SemiBold) format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gill Sans Std Bold';
  src: url(fonts/GillSansStd-Bold.eot);
  src: url(fonts/GillSansStd-Bold.eot?#iefix) format('embedded-opentype'), url(fonts/GillSansStd-Bold.woff2) format('woff2'), url(fonts/GillSansStd-Bold.woff) format('woff'), url(fonts/GillSansStd-Bold.ttf) format('truetype'), url(fonts/GillSansStd-Bold.svg#GillSansStd-Bold) format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gill Sans Std Bold Italic';
  src: url(fonts/GillSansStd-BoldItalic.eot);
  src: url(fonts/GillSansStd-BoldItalic.eot?#iefix) format('embedded-opentype'), url(fonts/GillSansStd-BoldItalic.woff2) format('woff2'), url(fonts/GillSansStd-BoldItalic.woff) format('woff'), url(fonts/GillSansStd-BoldItalic.ttf) format('truetype'), url(fonts/GillSansStd-BoldItalic.svg#GillSansStd-BoldItalic) format('svg');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Gill Sans Std Bold Condensed';
  src: url(../fonts/GillSansStd-BoldCondensed.eot);
  src: url(fonts/GillSansStd-BoldCondensed.eot?#iefix) format('embedded-opentype'), url(fonts/GillSansStd-BoldCondensed.woff2) format('woff2'), url(fonts/GillSansStd-BoldCondensed.woff) format('woff'), url(fonts/GillSansStd-BoldCondensed.ttf) format('truetype'), url(fonts/GillSansStd-BoldCondensed.svg#GillSansStd-BoldCondensed) format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gill Sans Std Italic';
  src: url(fonts/GillSansStd-Italic.eot);
  src: url(fonts/GillSansStd-Italic.eot?#iefix) format('embedded-opentype'), url(fonts/GillSansStd-Italic.woff2) format('woff2'), url(fonts/GillSansStd-Italic.woff) format('woff'), url(fonts/GillSansStd-Italic.ttf) format('truetype'), url(fonts/GillSansStd-Italic.svg#GillSansStd-Italic) format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Gill Sans Std Light';
  src: url(fonts/GillSansStd-Light.eot);
  src: url(fonts/GillSansStd-Light.eot?#iefix) format('embedded-opentype'), url(fonts/GillSansStd-Light.woff2) format('woff2'), url(fonts/GillSansStd-Light.woff) format('woff'), url(fonts/GillSansStd-Light.ttf) format('truetype'), url(fonts/GillSansStd-Light.svg#GillSansStd-Light) format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gill Sans Std';
  src: url(fonts/GillSansStd.eot);
  src: url(fonts/GillSansStd.eot?#iefix) format('embedded-opentype'), url(fonts/GillSansStd.woff2) format('woff2'), url(fonts/GillSansStd.woff) format('woff'), url(fonts/GillSansStd.ttf) format('truetype'), url(fonts/GillSansStd.svg#GillSansStd) format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gill Sans Std Extra Bold Disp';
  src: url(fonts/GillSansStd-ExtraBoldDisp.eot);
  src: url(fonts/GillSansStd-ExtraBoldDisp.eot?#iefix) format('embedded-opentype'), url(fonts/GillSansStd-ExtraBoldDisp.woff2) format('woff2'), url(fonts/GillSansStd-ExtraBoldDisp.woff) format('woff'), url(fonts/GillSansStd-ExtraBoldDisp.ttf) format('truetype'), url(fonts/GillSansStd-ExtraBoldDisp.svg#GillSansStd-ExtraBoldDisp) format('svg');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Gill Sans Std Condensed';
  src: url(fonts/GillSansStd-Condensed.eot);
  src: url(fonts/GillSansStd-Condensed.eot?#iefix) format('embedded-opentype'), url(fonts/GillSansStd-Condensed.woff2) format('woff2'), url(fonts/GillSansStd-Condensed.woff) format('woff'), url(fonts/GillSansStd-Condensed.ttf) format('truetype'), url(fonts/GillSansStd-Condensed.svg#GillSansStd-Condensed) format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gill Sans Std Extra Bold';
  src: url(fonts/GillSansStd-ExtraBold.eot);
  src: url(fonts/GillSansStd-ExtraBold.eot?#iefix) format('embedded-opentype'), url(fonts/GillSansStd-ExtraBold.woff2) format('woff2'), url(fonts/GillSansStd-ExtraBold.woff) format('woff'), url(fonts/GillSansStd-ExtraBold.ttf) format('truetype'), url(fonts/GillSansStd-ExtraBold.svg#GillSansStd-ExtraBold) format('svg');
  font-weight: 800;
  font-style: normal;
}

html { height: 100%; width: 1440px;}

body{
  margin: 0px;
  padding: 0px;
  height: 100%;
  /*width: 1440px;*/
  width: 100%;
  font-family: "Gill Sans Std";
  font-size-adjust: 14pt;
  letter-spacing: 0.0em;
  line-height: normal;
  color:gray; 
}

header{
  height: 60px;
  background-color: black;
  width: 100%;
}

.container{
  height: fit-content;
  width: 100%;
  display: flex;
  margin: 0px;
  padding: 0px;
  background-color: #F2F2F2;
}

.subcontainer{
  height: fit-content;
  width: 75%;
  box-shadow: 3px 3px 5px #666;
  background-color: #D7E0E5;
  display: flex;
  z-index: 50;
  margin-top: 60px;
}

.ruta{
  /*position: fixed;*/
  position: sticky;
  top: 0px;
  width: 32%;
  border: 1px;
  background-color: #FAFAFA;
  /*float: left;*/
  border-radius: 6px;
  height: fit-content;
  box-shadow: 3px 3px 5px #666;
}

.containertarjetas{
  width: 68%;
  height: fit-content;
  box-shadow: 3px 3px 5px #666;
}

.notas{
  /*background-color: #F2F2F2;*/
  height: 100%;
  width: 25%;
}

.titulonotarel{
  color: #3168E4;
  font-family: 'Gill Sans Std Bold Italic';
  font-size: 12pt;
  margin-top: 15px;
  margin-left: 40px;
  margin-right: 20px;

}

.circlenotarel {
  border-radius: 50%;
  width: 15px;
  height: 15px;
  padding: 0px;
  background: #C4DAFD;
  color: #3268DF;
  text-align: center;
  font-family: 'Gill Sans Std Bold';
  font-size: 11pt;
  float: left;  
  margin-left: 20px;
  /*margin-top: 15px;*/
  display: inline-table;
}

.circlenotarelp{
  text-align: center;
  display: table-cell; 
  vertical-align: middle;
}



.siguiente{
  /*background-color: burlywood;*/
  width: 130px;
  height: 15px;
  float: right;
  margin-top: 35.62px;
  color: gray;
  margin-right: 20px;
  font-size: 9pt;
  font-family: 'Gill Sans Std Bold';
  display: flex;
  align-items: center;
}

.boton_next{
  text-decoration: none;
  margin-right: 5px;
}

.boton_next:active {  
  color: #ffffff;
  background-color: #ffffff;
  opacity: .4;
}

.anterior{
  /*background-color: burlywood;*/
  width: 130px;
  height: 15px;
  float: left;
  margin-top: 35.62px;
  color: gray;
  margin-left: 20px;
  font-size: 9pt;
  font-family: 'Gill Sans Std Bold';
  display: flex;
  align-items: center;
}

.anterior img{
  transform: rotate(180deg);
}

.boton_back{
  text-decoration: none;
  margin-right: 5px;
}

.boton_back:active {  
  color: #ffffff;
  background-color: #ffffff;
  opacity: .4;
}

.mensaje{
  width: 89%;
  margin-left: 20px;
}

.mensaje h1{
  color: #6445E1;
  font-size: 14pt;
  margin-top: 40px;
}

.mensaje h2{
  font-family: 'Gill Sans Std Bold';
  font-size: 18;
  color: #000000;
  margin-top: 16.478px;
}

.convenciones{
  font-style: italic;
  color: #6445E1;
  margin: 0px;
  padding: 0px;
}

.convenciones img{
  float: left;
  margin: 0px;
  padding: 0px;
}

.tarjetas{
  width: 95.5%;
  /*border: 3px solid black;*/
  background-color: #F2EFE9;
  /*display: flex;*/
  position: relative;
  float: left;
  margin-left: 20px;
  border-radius: 8px;
  margin-top: 15px;
  height: fit-content;
  
}

.informacion-paso{
  margin-left: 20px;
  width: 94%;
}

.informacion-paso h2{
  font-family: 'Gill Sans Std Light';
  font-size: 18pt;
  margin-top: 36.393px;
}

.informacion-paso h1{
  font-family: 'Gill Sans Std Bold';
  font-size: 30pt;
  line-height: 0%;
  color: #3595E0;
}

.informacion-paso h3{ 
  margin-top: 50px;
  font-family: 'Gill Sans Std Bold';
  font-size: 14pt;
  color: #000000;
}

/*.tarjetas h3{
  background-color: blueviolet;
  margin-left: 20px;
  font-family: 'Gill Sans Std Bold';
  font-size: 14pt;
  color: #000000;
}*/

.recursos h3{
  margin-left: 20px;
  font-family: 'Gill Sans Std Bold';
  font-size: 14pt;
  color: #000000;
}


.lineapaso {
  border-top: 1px solid black;
  height: 2px;
  width: 100%;
  padding: 0;
  margin-left: 0px;
  margin-bottom: 24.341px;
  border-color: lightgray;
  opacity: 99%;
}

.linearecursorelacionado {
  border-top: 1px solid black;
  height: 2px;
  width: 94%;
  padding: 0;
  margin-left: 20px;
  margin-bottom: 24.341px;
  border-color: lightgray;
  opacity: 99%;
}

.informacion-paso ul{
  margin: 0;
  padding: 0;
  margin-left: 20px;
  color: #000000;
}

.informacion-paso ul span{
  color: lightgray;
}

.informacion-paso ul u{
  color: #3595E0;
}

.convencionestitulo{
  color: #000000;
  font-style: italic;
}

.container2{
  width: 100%;

}

.parenttarjetas{
  width: 100%;
}

.tarjeta{
  width: 46%;
  height: fit-content;
  /*height: 369px;*/
  border-radius: 8px;
  /*border: blue solid 3px;*/
  margin-left: 20px;
  margin-bottom: 20px;
  background-color: #FFFFFF;
  border-left:blue solid 5px;
  display: inline-block;
  padding: 0px;
  vertical-align: top;
/*  float: top;*/
  position: relative;
}

.tagsi{
  background-color: #21C08D;
  color: white;
  border-radius: 50px;
  display: block;
  margin-left: 20px;
  width: fit-content;
  padding: 15px;
}

.tagno{
  background-color: #CF394B;
  color: white;
  border-radius: 50px;
  display: block;
  margin-left: 20px;
  width: fit-content;
  padding: 15px;
}


.tagpronunciamiento{
  background-color: #FFC800;
  color: white;
  border-radius: 50px;
  display: block;
  margin-left: 20px;
  width: fit-content;
  padding: 15px;
}
.semaforo{
  border-radius: 10px;
  border: 2px solid #FBD9A8;
  width: 635.01px;
  padding: 5px;
  color: black;
  background-color: #FDF1DE;
  margin-left: 20px;
  margin-bottom: 20px;
  vertical-align: middle;
  position: relative;
  
}

.semaforopaso3{
  border-radius: 10px;
  border: 2px solid #FBD9A8;
  width: 635.01px;
  padding: 5px;
  color: black;
  background-color: #FDF1DE;
  
  margin-bottom: 20px;
  vertical-align: middle;
  position: relative;
  
}

.semaforo img{
  vertical-align: middle;
}



.semaforo .imgalerta{
  margin-right: 5px;
}

.semaforo .div-imgsemaforo{
  float: right;
  background-color: cyan;
  width: fit-content;
  height: fit-content;
  vertical-align: baseline;
  position: absolute;
  bottom: 0px;
  right: 10px;
}



.semaforopaso3 img{
  vertical-align: middle;
}



.semaforopaso3 .imgalerta{
  margin-right: 5px;
}

.semaforopaso3 .div-imgsemaforo{
  float: right;
  background-color: cyan;
  width: fit-content;
  height: fit-content;
  vertical-align: baseline;
  position: absolute;
  bottom: 0px;
  right: 10px;
}

.tarjetacoloralladmin{
  border-left:red solid 5px;
  width: 10px;
  height: 100%;
  /*background-color: #3168E4;*/
  z-index: 1;
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding: 0px;
  margin-left: -5px;
  border-radius: 8px;
}

.tarjetacoloradmin{
  border-left:red solid 5px;
  width: 10px;
  height: 50%;
  /*background-color: #3168E4;*/
  z-index: 1;
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding: 0px;
  margin-left: -5px;
  border-bottom-left-radius: 8px;
}

#menos{
  margin-left: 0px;
}
/*.tarjeta h4{
  font-size: 13pt;
  color: #5045B3;
  margin-left: 20px;
}*/

.h4tecnico{
  font-family: 'Gill Sans Std';
  font-size: 13pt;
  color: #5045B3;
  margin-left: 20px;
  margin-top: 20px;
  display: inline-block;
}

.h4admin{
  font-family: 'Gill Sans Std';
  font-size: 13pt;
  color: red;
  margin-left: 0px;
  margin-top: 20px;
  display: inline-block;
}

.h4adminalone{
  font-family: 'Gill Sans Std';
  font-size: 13pt;
  color: red;
  margin-left: 20px;
  margin-top: 20px;
  display: inline-block;
}

.lineavertical{
  padding: 0%;
  margin: 0%;
  display: inline-block;
  margin-top: 20px;
}
/*.tarjeta img{
  float: right;
  margin-top: 20px;
  margin-right: 20px;
}*/

.imgtecnico{
  float: right;
  margin-top: 20px;
  margin-right: 20px;
}

.imgadmin{
  float: right;
  margin-top: 20px;
  margin-right: 5px;
}

.imgadminalone{
  float: left;
  margin-top: 20px;
  margin-right: 20px;
}

.tooltiptarjeta {
  position: relative;
  float: right;
  
  /*display: inline-block;*/
  border-bottom: 0px dotted black;
}

.tooltiptarjeta .tooltiptext {
  font-size: 10pt;
  visibility: hidden;
  width: 120px;
  background-color: #5045B3;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 1px 0;
  bottom: 30px;
  right: -25px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltiptarjeta:hover .tooltiptext {
  visibility: visible;
}

.tooltiptarjeta .tooltiptextadmin {
  font-size: 10pt;
  visibility: hidden;
  width: 180px;
  background-color: red;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 1px 0;
  bottom: 30px;
  right: -85px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltiptarjeta:hover .tooltiptextadmin {
  visibility: visible;
}


.tarjetas .contextoh1{
  font-family: 'Gill Sans Std semi Bold';
  color: #3595E0;
  font-size: 30pt;
  /*margin-left: 20px;*/
}

.tarjeta h1{
  font-family: 'Gill Sans Std Light';
  color: #000000;
  font-size: 23pt;
  margin-left: 20px;
  max-width: 277.512px;
  padding-right: 0px;
}

.tarjeta h2{
  font-family: 'Gill Sans Std Bold';
  color: #000000;
  font-size: 14pt;
  margin-left: 20px;
}

.tarjeta p{
  margin-left: 20px;
  max-width: 277.512px;
}

.tarjeta a{
  margin-left: 20px;
}

.tarjeta ol li{
  background-color: #21C08D;
}

.lineatarjeta{
  border-top: 1px solid black;
  height: 2px;
  width: 277.409px;
  padding: 0px;
  margin-left: 20px;
  margin-bottom: 24.341px;
  border-color: lightgray;
  opacity: 99%;
}

.linea {
  border-top: 1px solid black;
  height: 2px;
  max-width: 310px;
  padding: 0;
  margin-left: 20px;
  margin-bottom: 24.341px;
  border-color: lightgray;
  opacity: 99%;
}

.paso{
  margin-left: 30.962px;
  margin-bottom: 10px ;
  border: 2px solid gray;
  /*background-color: FFFFFF;*/
  width: 85%;
  height: 49.995px;
  text-align: left;
  line-height: 25px;
  border-radius: 5px;
  display: inline-block;
  position: relative;
  font-family: 'Gill Sans Std Bold';
  cursor:pointer;
}

.pasoclic{
  margin-left: 30.962px;
  margin-bottom: 10px ;
  border: 2px solid #3595E0;
  /*background-color: FFFFFF;*/
  width: 85%;
  color: #3595E0;
  height: 49.995px;
  text-align: left;
  line-height: 25px;
  border-radius: 5px;
  display: inline-block;
  position: relative;
  font-family: 'Gill Sans Std Bold';
  cursor:pointer;
}

.pasoclicked{
  margin-left: 30.962px;
  margin-bottom: 10px ;
  border: 2px solid #21C08D;
  background-color: #EFFBF7;
  width: 85%;
  color: #21C08D;
  height: 49.995px;
  text-align: left;
  line-height: 25px;
  border-radius: 5px;
  display: inline-block;
  position: relative;
  font-family: 'Gill Sans Std Bold';
  cursor:pointer;
}

.option {
  background-color: #ffffff;
}
.optionSelected {
  background-color: #008080;
}

.circle0clic {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  padding: 0px;
  background: blue;
  color: white;
  text-align: center;
  font-family: 'Gill Sans Std Bold';
  font-size: 13.33pt;
  float: left;  
  position: absolute;
  top: 22%;
  left: -5%;
}

.paso h1{
  color: red;
  float: left;
  font-size: 12px;
}

.paso h3{
  float: left;
  font-size: 12px;
  font-family: 'Gill Sans Std Bold';  
  margin-left: 20.49px;
}

.img-paso{
  margin:10px 10px auto;
  display:block;
  float: right;
  /*vertical-align: middle;*/
}

#paso0 .div-img-paso0{
  vertical-align: baseline;
}

.div-img-paso0{
  width: 68.476px;
  height: 63.714px;
  position: absolute;
  bottom: 0px;
  right: 10px;
}

.circle0 {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  padding: 0px;
  background: #D38424;
  color: white;
  text-align: center;
  font-family: 'Gill Sans Std Bold';
  font-size: 13.33pt;
  float: left;  
  position: absolute;
  top: 22%;
  left: -5%;
}

.circle {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  padding: 0px;
  background: white;
  color: gray;
  text-align: center;
  font-family: 'Gill Sans Std Bold';
  font-size: 13.33pt;
  float: left;  
  position: absolute;
  top: 22%;
  left: -5%;
  filter: drop-shadow(0 0 0.75rem gray);
}

.circleclic {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  border: 2px solid red;
  padding: 0px;
  background: white;
  color: #000000;
  text-align: center;
  font-family: 'Gill Sans Std Bold';
  font-size: 13.33pt;
  float: left;  
  position: absolute;
  top: 22%;
  left: -5%;
  filter: drop-shadow(0 0 0.75rem gray);
}

.circleclicked {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  border: 0px solid red;
  padding: 0px;
  background: #21C08D;
  color: #ffffff;
  text-align: center;
  font-family: 'Gill Sans Std Bold';
  font-size: 13.33pt;
  float: left;  
  position: absolute;
  top: 22%;
  left: -5%;
  filter: drop-shadow(0 0 0.75rem gray);
}



#paso0{
  background-color: #F4A833;
  position: relative;
}

.paso0{
  margin-left: 30.962px;
  margin-bottom: 10px ;
  /*border: 2px solid gray;*/
  /*background-color: FFFFFF;*/
  width: 85%;
  height: 49.995px;
  text-align: left;
  line-height: 25px;
  border-radius: 5px;
  display: inline-block;
  position: relative;
  font-family: 'Gill Sans Std Bold';
  cursor: pointer;
}

.paso0 h1{
  color: white;
  float: left;
  font-size: 12px;
}

.paso0 h3{
  float: left;
  font-size: 12px;
  font-family: 'Gill Sans Std Bold';  
  margin-left: 20.49px;
  color: white;
}

.encuenta{
  margin-left: 20px;
  width: 89%;
  font-family: 'Gill Sans Std Italic';

}

.cooperantes{
  margin-left: 20px;
  width: 310 px;
  margin-top: 78.444px;
}

.cooperantes h1{
  font-family: 'Gill Sans Std Bold';
  font-size: 14pt;
  color: #000000;
}

.lineacooperantes {
  border-top: 1px solid black;
  height: 2px;
  max-width: 310px;
  padding: 0;
  margin-left: 0px;
  margin-bottom: 24.341px;
  border-color: lightgray;
  opacity: 99%;
}
.cooperantes img{
  margin-left: 10px;
}

.creditos{
  margin-left: 20px;
  width: 89%;
  margin-top: 59.963px;
}

.creditos h1{
    font-family: 'Gill Sans Std Bold';
    font-size: 14pt;
    color: #000000;
}

.creditos h2{
  font-family: 'Gill Sans Std';
  font-size: 13pt;
  color: #000000;
  margin: 0;
  margin-top: 22px;
}

.creditos h3{
  font-family: 'Gill Sans Std Italic';
  font-size: 13pt;
  margin: 0;
}

.creditos .tegusto{
  margin-top: 80px;
  margin-bottom: 20px;

}





.notastexto{
  width: 89%;
  margin-left: 17.512px;
  display: inline-block;
  
}

.notastexto img{
  float: right;
  margin-top: 6.69px;
  margin-right: 25.158px;

}

/*.notas h1{
  font-family: 'Gill Sans Std Bold';
  font-size: 14pt;
  color: #000000;
  
}*/

.titulonotas{
  font-family: 'Gill Sans Std Bold';
  font-size: 14pt;
  color: #000000;
}

/*.notas p{
  font-family: 'Gill Sans Std';
  font-size: 10pt;
  color: #000000;
  max-width: 217.465px;
}*/

.contacto{
  color: #000000;
  margin-left: 20px;
}

.notacuadromun{
  background-color: white;
  border-radius: 8px;
  width: 277.512px;
  height: 48.289px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.notacuadromun img{
  float: right;
  height: 40px;
}

.lineanotas{
  border-top: 1px solid black;
  height: 2px;
  width: 217.479px;
  padding: 0;
  margin-left: 0px;
  margin-bottom: 19.944px;
  border-color: lightgray;
  opacity: 99%;
}

.lineanota{
  border-top: 1px solid #C4DAFD;
  height: 2px;
  width: 277.465px;
  padding: 0;
  margin-left: 20px;
  margin-bottom: 19.944px;
  border-color: #C4DAFD;
  opacity: 99%;
}

.nota{
  width: 317.465px;
  height: fit-content;
  border: #5B86E5 solid 2px;
  margin-left: 15px;
  border-radius: 10px;
  background-color: #F4F7FE;
  opacity: 100%;
  margin-bottom: 10px;
}

.notas_img_encabezado{
  margin-top: 84.428px;
  margin-left: 42.444px;
  margin-bottom: 102.179px;
  width: 269.932 px;
  height: 287.259 px;
}

.img-alerta-nota{
  float: right;
  position: relative;
  top: 32px;
  right: 20px;
}

.numero{
  color: #3268DF;
  font-size: 12pt;
  float: left;
  margin-left: 20px;
}

.titulo{
  font-family: 'Gill Sans Std Bold Italic';
  color: #3268DF;
  font-size: 15pt;
  margin-left: 55.499px;   
  margin-top: 32px;
}

.subtitulo{
  color: #5B86E5;
  font-size: 12pt;
  /*display: inline;*/
  margin-left: 20px;
  font-family: 'Gill Sans Std Italic';
  max-width: 277.465px;
}

.notasp{
  font-size: 12pt;
  color: #000000;
  width: 100%;
  /*margin-left: 20px;*/
  /*margin-right: 25px;*/
}

.notap{
  margin-left: 20px;
  font-size: 11pt;
  max-width: 277.465px;
  color: #000000;
  margin-bottom: 29.59px;
}

.circlenota {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  padding: 0px;
  background: #C4DAFD;
  color: #3268DF;
  text-align: center;
  font-family: 'Gill Sans Std Bold';
  font-size: 12pt;
  float: left;  
  margin-left: 20px;
  margin-top: 29px;
  display: inline-table;
}

.circlenotap{
  text-align: center;
  display: table-cell; 
  vertical-align: middle;
}

.recurso{
  border: 1px solid lightgray; 
  width: 94%;
  height: fit-content;
  border-radius: 8px;
  margin-left: 20px;
  margin-bottom: 10px;
  position: relative;
  display: block;
/*  line-height : normal;*/
  overflow:hidden
}

#linkrecurso{
  text-decoration: none;
}

.recurso img{
  float: left;
  width: 12.261px;
  height: 13px;
  margin-left: 20px;
  margin-top: 20px;
  /*margin:10px 10px auto;
  display:block;*/
  vertical-align: middle;

}

.recurso .titulorecurso{
  color: #000000;
  font-size: 12pt;
  margin-left: 40px;
  margin-top: 20px;
  margin-bottom: 0px;
  font-family: 'Gill Sans Std';
  vertical-align: middle;
  max-width: 543.787px;
}

.recurso .identificador{
  font-family: 'Gill Sans Std italic';
  font-size: 13pt;
  float: right;
  color: #000000;
  opacity: 40%;
  margin-bottom: 40px;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.recurso .entidad{
  font-family: 'Gill Sans Std';
  font-size: 12pt;
  color: #6445E1;
  margin-left: 40px;
  margin-bottom:0px;
  margin-top: 0px;
  max-width: 543.787px;
  
}

.recurso .anio{
  font-size: 12pt;
  color: #000000;
  margin-left: 40px;
  opacity: 60%;
  margin-bottom:20px;
  margin-top: 0px;
}

/*.section2 {
  height: 50px;
  background-color: green;
  color: white;
  margin:10px;
  opacity: 1 !important;
  box-shadow: 3px 3px 15px #666;
  border: 1px solid #7d7d7d;
}*/


.newcontainer2{
  width: fit-content;
  margin: auto;
  z-index: 0;
  background-color: cornsilk;
  opacity: 90%;
}



.section2{
  width: 312.512px;
  height: fit-content;
  /*background-color: green;*/
  color: gray;
  /*margin: 20px;*/
  opacity: 1 !important;
  box-shadow: 3px 3px 15px #666;
  border: 1px solid #7d7d7d; 
  border-radius: 8px;
  /*border: blue solid 3px;*/
  margin-left: 20px;
  margin-bottom: 20px;
  background-color: #FFFFFF;
  border-left:blue solid 5px;
  display: inline-block;
  padding: 0px;
  vertical-align: top;
  z-index: 20;
}

connection {
  border: 1px solid #3268DF;
  border-radius: 11px;
  z-index: 500;
}








